body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

.logo{
width:180px;
animation:girar 8s linear infinite;
}

@keyframes girar{
from{transform:rotate(0)}
to{transform:rotate(360deg)}
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.cards-grid{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.card{
background:#222;
padding:40px;
cursor:pointer;
border-radius:12px;
}

iframe{
width:350px;
height:220px;
margin:20px;
border:none;
border-radius:10px;
}

textarea{
width:80%;
height:300px;
background:#222;
color:white;
}

.menu-btn{
position:fixed;
left:20px;
top:20px;
font-size:35px;
cursor:pointer;
}

.sidebar{
position:fixed;
left:-250px;
top:0;
width:250px;
height:100%;
background:black;
padding-top:100px;
transition:.4s;
}

.sidebar a{
display:block;
padding:20px;
color:white;
text-decoration:none;
}

#timer{
font-size:90px;
color:red;
}
