body{

margin:0;
background:#111;
color:white;
font-family:Arial;
text-align:center;

}



#menuBtn{

font-size:35px;
padding:20px;
cursor:pointer;

}



#sidebar{

position:fixed;
left:-250px;
width:250px;
height:100%;
background:black;
transition:0.5s;
padding-top:50px;

}



#sidebar a{

display:block;
color:white;
text-decoration:none;
padding:20px;

}



.logo{

width:120px;

animation:
girar 8s linear infinite;

}



@keyframes girar{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}



button{

padding:12px 25px;
background:red;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}



.cards{

display:flex;
justify-content:center;
gap:20px;
padding:30px;
flex-wrap:wrap;

}



.card{

background:#222;
padding:40px;
border-radius:12px;
cursor:pointer;

}



.card:hover{

transform:scale(1.08);

}



textarea{

width:80%;
height:200px;

}



#timer{

font-size:50px;

}
